################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/MySpringMVC/WebContent/WEB-INF/classes
/MySpringMVC/WebContent/upload


/apache-tomcat-8.5.24

ROOT.xml
